cc3d/CompuCellSetup/xml_schema/cc3d_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="CompuCell3D">
        <xs:complexType>
            <xs:sequence>

                <!-- Metadata: optional but unique -->
                <xs:element name="Metadata" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Potts: required exactly once -->
                <xs:element name="Potts" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Plugin list -->
                <xs:element name="Plugin" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required"/>
                    </xs:complexType>

                    <xs:unique name="UniquePluginName">
                        <xs:selector xpath="."/>
                        <xs:field xpath="@Name"/>
                    </xs:unique>

                </xs:element>

                <!-- Steppable list -->
                <xs:element name="Steppable" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Type" type="xs:string" use="required"/>
                    </xs:complexType>

                    <xs:unique name="UniqueSteppableType">
                        <xs:selector xpath="."/>
                        <xs:field xpath="@Type"/>
                    </xs:unique>

                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- ========================================================= -->
        <!-- Named constraints for Potts and Metadata             -->
        <!-- ========================================================= -->

        <!-- Enforce exactly one Potts -->
        <xs:unique name="UniquePottsSection">
            <xs:selector xpath="Potts"/>
            <xs:field xpath="."/>
        </xs:unique>

        <!-- Enforce at most one Metadata -->
        <xs:unique name="UniqueMetadataSection">
            <xs:selector xpath="Metadata"/>
            <xs:field xpath="."/>
        </xs:unique>

        <!-- Existing constraints -->
        <xs:unique name="AllPluginsHaveUniqueNames">
            <xs:selector xpath="Plugin"/>
            <xs:field xpath="@Name"/>
        </xs:unique>

        <xs:unique name="AllSteppablesHaveUniqueTypes">
            <xs:selector xpath="Steppable"/>
            <xs:field xpath="@Type"/>
        </xs:unique>

    </xs:element>

</xs:schema>
