cc3d/CompuCellSetup/xml_schema/cc3d_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ========================================================= -->
    <!-- Attribute Groups                                           -->
    <!-- ========================================================= -->

    <xs:attributeGroup name="commonIdAttr">
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="compuCell3DAttrs">
        <xs:attribute name="Revision" type="xs:string" use="optional"/>
        <xs:attribute name="Version" type="xs:string" use="optional"/>
        <xs:attribute name="revision" type="xs:string" use="optional"/>
        <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <!-- ========================================================= -->
    <!-- Root element                                               -->
    <!-- ========================================================= -->

    <xs:element name="CompuCell3D">
        <xs:complexType>

            <!-- ORDER-FREE -->
            <xs:choice maxOccurs="unbounded">

                <xs:element name="Metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Potts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Plugin">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required"/>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Steppable">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Type" type="xs:string" use="required"/>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Extensions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:choice>

            <xs:attributeGroup ref="commonIdAttr"/>
            <xs:attributeGroup ref="compuCell3DAttrs"/>

        </xs:complexType>

        <!-- Keep uniqueness constraints -->
        <xs:unique name="AllPluginsHaveUniqueNames">
            <xs:selector xpath="Plugin"/>
            <xs:field xpath="@Name"/>
        </xs:unique>

        <xs:unique name="AllSteppablesHaveUniqueTypes">
            <xs:selector xpath="Steppable"/>
            <xs:field xpath="@Type"/>
        </xs:unique>

    </xs:element>

</xs:schema>

