cc3d/CompuCellSetup/xml_schema/cc3d_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ========================================================= -->
    <!-- Attribute Groups                                           -->
    <!-- ========================================================= -->

    <!-- Optional id attribute for ALL CC3D XML nodes -->
    <xs:attributeGroup name="commonIdAttr">
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <!-- ONLY CompuCell3D root can have Revision / Version -->
    <xs:attributeGroup name="compuCell3DAttrs">
        <xs:attribute name="Revision" type="xs:string" use="optional"/>
        <xs:attribute name="Version" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <!-- ========================================================= -->
    <!-- Root element: CompuCell3D                                 -->
    <!-- ========================================================= -->

    <xs:element name="CompuCell3D">
        <xs:complexType>
            <xs:sequence>

                <!-- Metadata: optional, at most one -->
                <xs:element name="Metadata" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <!-- Potts: required, exactly one -->
                <xs:element name="Potts" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>
                </xs:element>

                <!-- Plugin list -->
                <xs:element name="Plugin" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>

                        <xs:attribute name="Name" type="xs:string" use="required"/>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>

                    <!-- ensure plugin names are unique -->
                    <xs:unique name="UniquePluginName">
                        <xs:selector xpath="."/>
                        <xs:field xpath="@Name"/>
                    </xs:unique>
                </xs:element>

                <!-- Steppable list -->
                <xs:element name="Steppable" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax"
                                    minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>

                        <xs:attribute name="Type" type="xs:string" use="required"/>
                        <xs:attributeGroup ref="commonIdAttr"/>
                    </xs:complexType>

                    <!-- ensure steppable types are unique -->
                    <xs:unique name="UniqueSteppableType">
                        <xs:selector xpath="."/>
                        <xs:field xpath="@Type"/>
                    </xs:unique>
                </xs:element>

            </xs:sequence>

            <!-- Root attributes -->
            <xs:attributeGroup ref="commonIdAttr"/>
            <xs:attributeGroup ref="compuCell3DAttrs"/>

        </xs:complexType>

        <!-- Global uniqueness constraints (only simple fields allowed) -->
        <xs:unique name="AllPluginsHaveUniqueNames">
            <xs:selector xpath="Plugin"/>
            <xs:field xpath="@Name"/>
        </xs:unique>

        <xs:unique name="AllSteppablesHaveUniqueTypes">
            <xs:selector xpath="Steppable"/>
            <xs:field xpath="@Type"/>
        </xs:unique>

    </xs:element>

</xs:schema>

<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">-->

<!--    &lt;!&ndash; ========================================================= &ndash;&gt;-->
<!--    &lt;!&ndash; Attribute Groups                                           &ndash;&gt;-->
<!--    &lt;!&ndash; ========================================================= &ndash;&gt;-->

<!--    &lt;!&ndash; id available for ALL elements &ndash;&gt;-->
<!--    <xs:attributeGroup name="commonIdAttr">-->
<!--        <xs:attribute name="id" type="xs:string" use="optional"/>-->
<!--    </xs:attributeGroup>-->

<!--    &lt;!&ndash; Revision + Version ONLY for <CompuCell3D> &ndash;&gt;-->
<!--    <xs:attributeGroup name="compuCell3DAttrs">-->
<!--        <xs:attribute name="Revision" type="xs:string" use="optional"/>-->
<!--        <xs:attribute name="Version" type="xs:string" use="optional"/>-->
<!--    </xs:attributeGroup>-->

<!--    &lt;!&ndash; ========================================================= &ndash;&gt;-->
<!--    &lt;!&ndash; Root element: CompuCell3D                                 &ndash;&gt;-->
<!--    &lt;!&ndash; ========================================================= &ndash;&gt;-->

<!--    <xs:element name="CompuCell3D">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->

<!--                &lt;!&ndash; Metadata &ndash;&gt;-->
<!--                <xs:element name="Metadata" minOccurs="0" maxOccurs="unbounded">-->
<!--                    <xs:complexType>-->
<!--                        <xs:sequence>-->
<!--                            <xs:any processContents="lax"-->
<!--                                    minOccurs="0" maxOccurs="unbounded"/>-->
<!--                        </xs:sequence>-->

<!--                        &lt;!&ndash; allow id &ndash;&gt;-->
<!--                        <xs:attributeGroup ref="commonIdAttr"/>-->
<!--                    </xs:complexType>-->
<!--                </xs:element>-->

<!--                &lt;!&ndash; Potts &ndash;&gt;-->
<!--                <xs:element name="Potts" minOccurs="1" maxOccurs="unbounded">-->
<!--                    <xs:complexType>-->
<!--                        <xs:sequence>-->
<!--                            <xs:any processContents="lax"-->
<!--                                    minOccurs="0" maxOccurs="unbounded"/>-->
<!--                        </xs:sequence>-->

<!--                        &lt;!&ndash; allow id &ndash;&gt;-->
<!--                        <xs:attributeGroup ref="commonIdAttr"/>-->
<!--                    </xs:complexType>-->
<!--                </xs:element>-->

<!--                &lt;!&ndash; Plugin &ndash;&gt;-->
<!--                <xs:element name="Plugin" minOccurs="0" maxOccurs="unbounded">-->
<!--                    <xs:complexType>-->
<!--                        <xs:sequence>-->
<!--                            <xs:any processContents="lax"-->
<!--                                    minOccurs="0" maxOccurs="unbounded"/>-->
<!--                        </xs:sequence>-->

<!--                        <xs:attribute name="Name" type="xs:string" use="required"/>-->
<!--                        &lt;!&ndash; allow id &ndash;&gt;-->
<!--                        <xs:attributeGroup ref="commonIdAttr"/>-->
<!--                    </xs:complexType>-->

<!--                    <xs:unique name="UniquePluginName">-->
<!--                        <xs:selector xpath="."/>-->
<!--                        <xs:field xpath="@Name"/>-->
<!--                    </xs:unique>-->
<!--                </xs:element>-->

<!--                &lt;!&ndash; Steppable &ndash;&gt;-->
<!--                <xs:element name="Steppable" minOccurs="0" maxOccurs="unbounded">-->
<!--                    <xs:complexType>-->
<!--                        <xs:sequence>-->
<!--                            <xs:any processContents="lax"-->
<!--                                    minOccurs="0" maxOccurs="unbounded"/>-->
<!--                        </xs:sequence>-->

<!--                        <xs:attribute name="Type" type="xs:string" use="required"/>-->
<!--                        &lt;!&ndash; allow id &ndash;&gt;-->
<!--                        <xs:attributeGroup ref="commonIdAttr"/>-->
<!--                    </xs:complexType>-->

<!--                    <xs:unique name="UniqueSteppableType">-->
<!--                        <xs:selector xpath="."/>-->
<!--                        <xs:field xpath="@Type"/>-->
<!--                    </xs:unique>-->
<!--                </xs:element>-->

<!--            </xs:sequence>-->

<!--            &lt;!&ndash; Root element gets both sets of attributes &ndash;&gt;-->
<!--            <xs:attributeGroup ref="commonIdAttr"/>-->
<!--            <xs:attributeGroup ref="compuCell3DAttrs"/>-->

<!--        </xs:complexType>-->

<!--        &lt;!&ndash; ========================================================= &ndash;&gt;-->
<!--        &lt;!&ndash; Global uniqueness constraints                             &ndash;&gt;-->
<!--        &lt;!&ndash; ========================================================= &ndash;&gt;-->

<!--        <xs:unique name="UniquePottsSection">-->
<!--            <xs:selector xpath="Potts"/>-->
<!--            <xs:field xpath="."/>-->
<!--        </xs:unique>-->

<!--        <xs:unique name="UniqueMetadataSection">-->
<!--            <xs:selector xpath="Metadata"/>-->
<!--            <xs:field xpath="."/>-->
<!--        </xs:unique>-->

<!--        <xs:unique name="AllPluginsHaveUniqueNames">-->
<!--            <xs:selector xpath="Plugin"/>-->
<!--            <xs:field xpath="@Name"/>-->
<!--        </xs:unique>-->

<!--        <xs:unique name="AllSteppablesHaveUniqueTypes">-->
<!--            <xs:selector xpath="Steppable"/>-->
<!--            <xs:field xpath="@Type"/>-->
<!--        </xs:unique>-->

<!--    </xs:element>-->

<!--</xs:schema>-->

<!--&lt;!&ndash;<?xml version="1.0" encoding="UTF-8"?>&ndash;&gt;-->
<!--&lt;!&ndash;<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">&ndash;&gt;-->

<!--&lt;!&ndash;    <xs:element name="CompuCell3D">&ndash;&gt;-->
<!--&lt;!&ndash;        <xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:sequence>&ndash;&gt;-->

<!--&lt;!&ndash;                &lt;!&ndash; Metadata: optional but unique &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <xs:element name="Metadata" minOccurs="0" maxOccurs="unbounded">&ndash;&gt;-->
<!--&lt;!&ndash;                    <xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                </xs:element>&ndash;&gt;-->

<!--&lt;!&ndash;                &lt;!&ndash; Potts: required exactly once &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <xs:element name="Potts" minOccurs="1" maxOccurs="unbounded">&ndash;&gt;-->
<!--&lt;!&ndash;                    <xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                </xs:element>&ndash;&gt;-->

<!--&lt;!&ndash;                &lt;!&ndash; Plugin list &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <xs:element name="Plugin" minOccurs="0" maxOccurs="unbounded">&ndash;&gt;-->
<!--&lt;!&ndash;                    <xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:attribute name="Name" type="xs:string" use="required"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:complexType>&ndash;&gt;-->

<!--&lt;!&ndash;                    <xs:unique name="UniquePluginName">&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:selector xpath="."/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:field xpath="@Name"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;                </xs:element>&ndash;&gt;-->

<!--&lt;!&ndash;                &lt;!&ndash; Steppable list &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <xs:element name="Steppable" minOccurs="0" maxOccurs="unbounded">&ndash;&gt;-->
<!--&lt;!&ndash;                    <xs:complexType>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:attribute name="Type" type="xs:string" use="required"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:complexType>&ndash;&gt;-->

<!--&lt;!&ndash;                    <xs:unique name="UniqueSteppableType">&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:selector xpath="."/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <xs:field xpath="@Type"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;                </xs:element>&ndash;&gt;-->

<!--&lt;!&ndash;            </xs:sequence>&ndash;&gt;-->
<!--&lt;!&ndash;        </xs:complexType>&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; ========================================================= &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; Named constraints for Potts and Metadata             &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; ========================================================= &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Enforce exactly one Potts &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <xs:unique name="UniquePottsSection">&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:selector xpath="Potts"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:field xpath="."/>&ndash;&gt;-->
<!--&lt;!&ndash;        </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Enforce at most one Metadata &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <xs:unique name="UniqueMetadataSection">&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:selector xpath="Metadata"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:field xpath="."/>&ndash;&gt;-->
<!--&lt;!&ndash;        </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Existing constraints &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <xs:unique name="AllPluginsHaveUniqueNames">&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:selector xpath="Plugin"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:field xpath="@Name"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;        <xs:unique name="AllSteppablesHaveUniqueTypes">&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:selector xpath="Steppable"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <xs:field xpath="@Type"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </xs:unique>&ndash;&gt;-->

<!--&lt;!&ndash;    </xs:element>&ndash;&gt;-->

<!--&lt;!&ndash;</xs:schema>&ndash;&gt;-->
